<div class="each-connection">
  <a class="modal-details" href="#" data-in-id="{{id}}">
    {{#if pictureUrl}}
      <img class="image" src="{{pictureUrl}}">
    {{else}}
      <img class="image" src="https://webfiles.uci.edu/shaohuaz/share/prelinked/profile.png">
    {{/if}}
    <div class="degree">
      {{#checkDegree distance}}
      {{/checkDegree}}
    </div>
  </a>
  <div class="info">
    <h2 class="name">
      <a class="modal-details" href="#" data-in-id="{{id}}">{{firstName}}&nbsp;{{#truncateName lastName}}{{/truncateName}}</a>
      <div class="numberOfConnections">{{numConnections}}</div>

    </h2>
    <ul>
      <li class="headline">{{headline}}</li>
      <li class="connectionLocation">{{location.name}}</li>
    </ul>
  </div>
</div>