<div class="each-connection">
  <a class="modal-details" href="#" data-reveal-id="myModal" data-in-id="HbRybmNgE6">Click Me For A Modal</a>
  <img src="{{pictureUrl}}">
  <ul>
    <li>firstName: {{firstName}}</li>
    <li>headline: {{headline}}</li>
    <li>lastName: {{lastName}}</li>
    <li>pictureUrl: {{pictureUrl}}</li>
    <li>positions: {{positions}}</li>
    <li>summary: {{summary}}</li>
    <li>title: {{title}}</li>
  </ul>
</div>