<div class="each-connection">
  <ul>
    <a class="modal-details" href="#" data-reveal-id="myModal">Click Me For A Modal</a>
    <li>firstName: {{firstName}}</li>
    <li>headline: {{headline}}</li>
    <li>lastName: {{lastName}}</li>
    <li>pictureUrl: {{pictureUrl}}</li>
    <li>positions: {{positions}}</li>
    <li>summary: {{summary}}</li>
    <li>title: {{title}}</li>
  </ul>
</div>