<div class="each-connection">
  <ul>
    <li>firstName: {{firstName}}</li>
    <li>headline: {{headline}}</li>
    <li>lastName: {{lastName}}</li>
    <li>pictureUrl: {{pictureUrl}}</li>
    <li>positions: {{positions}}</li>
    <li>summary: {{summary}}</li>
    <li>title: {{title}}</li>
  </ul>
</div>