<div class="each-connection">
  <a class="th radius modal-details" href="#" data-in-id="{{id}}">
    <img src="{{pictureUrl}}">
  </a>
  <ul>
    <li>{{firstName}}&nbsp;{{lastName}}</li>
    <li>{{title}}</li>
    <li>{{headline}}</li>
    <!--li>{{positions}}</li-->
  </ul>
</div>