<div class="each-connection">
  <a class="th radius modal-details" href="#" data-in-id="{{id}}">
    {{#if pictureUrl}}
      <img src="{{pictureUrl}}">
    {{else}}
      <img src="http://placehold.it/80x80">
    {{/if}}
  </a>
  <ul>
    <li><a href="javascript:;">{{firstName}}&nbsp;{{lastName}}</a></li>
    <li>{{title}}</li>
    <li>{{headline}}</li>
    <!--li>{{positions}}</li-->
  </ul>
</div>