<div class="row">
  <div class="large-2 columns">
    {{#if pictureUrl}}
    <img class="image" src="{{pictureUrl}}">
    {{else}}
    <img class="image" src="http://placehold.it/160x160">
    {{/if}}
  </div>
  <div class="large-10 columns info">
    <h2>{{firstName}} {{lastName}}</h2>
    <p>{{headline}}</p>
  </div>
</div>

<div class="row">
  <div class="large-2 columns">&nbsp;</div>
  <div class="large-5 columns">
    <ul class="list">
      <li>title: {{title}}</li>
      <li>industry: {{industry}}</li>
      <li>id: {{id}}</li>
      <li>positions: {{positions}}</li>
    </ul>
  </div>
  <div class="large-5 columns">
    <p>summary: {{summary}}</p>
  </div>
</div>