<div id="myModal" class="reveal-modal">
  <h2>Awesome. I have it.</h2>
  <ul>
    <li>firstName: {{firstName}}</li>
    <li>lastName: {{lastName}}</li>
    <li>headline: {{headline}}</li>
    <li>industry: {{industry}}</li>
    <li>id: {{id}}</li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <a class="close-reveal-modal">&#215;</a>
</div>