<div class="row">
  <div class="large-2 columns">
    {{#if pictureUrl}}
    <img class="image" src="{{pictureUrl}}">
    {{else}}
    <img class="image" src="http://placehold.it/160x160">
    {{/if}}
  </div>
  <div class="large-10 columns info modalHeader">
    <h2 class='name'>{{firstName}} {{lastName}}</h2>
    <div class="industry"> <span class="sectionLabel"> Industry: </span> {{industry}}</div>
    </br>
    <p class="sectionLabel inline">Headline:&nbsp; </p><p class="inline">{{headline}}</p>
  </div>
</div>

<div class="row">
  <div class="large-2 columns">&nbsp;</div>
  <div class="positionsHeader sectionLabel"> Positions: </div>
  <ul class="positions">
    {{#each positions.values}}
      <li class='position'>{{this.title}} @ {{this.company.name}}</li>
    {{/each}}
  </ul>
</div>
<div class="summaryHeader sectionLabel"> Summary: </div>
<p class="summary">{{summary}}</p>
<div class='viewProfileContainer'>
  <a class="viewProfileButton" target="_blank" href="{{publicProfileUrl}}">
    <button class="profileButton">View Profile On LinkedIn</button>
  </a>
</div>
<a class="exitModal"> &#10005 </a>