<h2 class="title"><a href="{{url}}" target="_blank">{{jobtitle}}</a></h2>
<div><a id="sort" href="javascript:;">sort</a></div>
<ul class="small-10 info columns">
  <li class="company">{{company}}</li>
  <li class="location">
    {{#if city}}
      {{city}},
    {{/if}}
    {{state}}
  </li>
  <!-- <li>
    jobkey: {{jobkey}}
  </li>
  <li>
    snippet: {{snippet}}
  </li>
  <li>
    formattedLocation: {{formattedLocation}}
  </li>
  <li>
    formattedLocationFull: {{formattedLocationFull}}
  </li>
  <li>
    formattedRelativeTime: {{formattedRelativeTime}}
  </li>

  <li>
    date: {{date}}
  </li>
  <li>
    expired: {{expired}}
  </li>
  <li>
    country: {{country}}
  </li>
  <li>
    latitude: {{latitude}}
  </li>
  <li>
    longitude: {{longitude}}
  </li>
  <li>
    source: {{source}}
  </li>
  <li>
    sponsored: {{sponsored}}
  </li>
  <li>
    url: {{url}}
  </li>
  <li>
    onmousedown: {{onmousedown}}
  </li> -->
</ul>
<ul class="small-2 columns">
  <li><a class="tiny button right showConnectButton">Info</a></li>
</ul>
