<h3>Search Jobs</h3>
<form id="form-search">
  <label>
    Job
    <input class="searchInput" id="jobTitleSearchInput" name="job-title" type="text" placeholder="Example: Software Engineer">
  </label>
  <div>
    <ul>
    {{#each jobTitle}}
      <li><a class="removeJobTitleFilter {{this}} removeFilter"> {{this}}<span>&times;</span></a></li>
    {{/each}}
    </ul>
  </div>
  <label>
    Location
    <input class="searchInput" id="locationSearchInput" name="job-location" type="text" placeholder="Example: San Francisco, CA">
  </label>
  <div>
    <ul>
      <li><a class="removeJobLocationFilter {{this}} removeFilter">{{jobLocation}}<span>&times;</span></a></li>
    </ul>
  </div>
  <label>
    Keywords
    <input class="searchInput" id="keywordsSearchInput" name="job-keywords" type="text" placeholder="Example: Javascript, Node.js">
  </label>
  <div>
    <ul>
    {{#each jobKeywords}}
      <li><a class="removeJobKeywordsFilter {{this}} removeFilter">{{this}}<span>&times;</span></a></li>
    {{/each}}
    </ul>
  </div>
  <button>Search</button>
</form>