<h2 class="title"><a href="{{url}}" target="_blank">{{jobtitle}}</a></h2>
<ul class="small-10 info columns">
  <li class="company">{{company}} {{toDoubleDigits pScore}}</li>
  <li class="location">
    {{#if city}}
      {{city}},
    {{/if}}
    {{state}}
  </li>
</ul>
<ul class="small-2 columns">
  <li><a class="right showConnectButton" href="javascript:;">
    {{#if pCount}}{{pCount}}{{else}}0{{/if}}
  </a></li>
  {{!-- <li><a class="small button right showConnectButton">{{pCount}} <i class="icon-connection"></i></a></li> --}}
</ul>
