<h3>Search Jobs</h3>
<form id="form-search">
  <label>
    Job Title
    <div class="inputFilter">
      <input class="searchInput" id="jobTitleSearchInput" name="job-title" type="text" placeholder="Example: Software Engineer">
      <button class="addFilterButton tiny">Add</button>
    <div>
  </label>
  <div>
    {{#each jobTitle}}
      <a class="filter-item button tiny round secondary removeJobTitleFilter removeFilter">
        {{this}}<span class="rm removeJobTitleFilter {{this}}">
        &times;
        </span>
      </a>
    {{/each}}
  </div>
  <label>
    Company
    <input class="searchInput" id="companySearchInput" name="company" type="text" placeholder="Example: Google">
  </label>
  <div>
    {{#each company}}
      <a class="filter-item button tiny round secondary removeCompanyFilter removeFilter">
        {{this}}<span class="rm removeCompanyFilter {{this}}">
        &times;
        </span>
      </a>
    {{/each}}
  </div>
  <label>
    Location
    <div class="inputFilter">
      <input class="searchInput" id="locationSearchInput" name="job-location" type="text" placeholder="Example: San Francisco, CA">
      <button class="addFilterButton tiny">Add</button>
    </div>
  </label>
  <div>
    {{#if jobLocation}}
      <a class="filter-item button tiny round secondary removeFilter">
        {{jobLocation}} <span class="rm removeJobLocationFilter {{this}}">&times;</span>
      </a>
    {{/if}}
  </div>
  <label>
    Keywords
    <div class="inputFilter">
      <input class="searchInput" id="keywordsSearchInput" name="job-keywords" type="text" placeholder="Example: Javascript, Node.js">
      <button class="addFilterButton tiny">Add</button>
    </div>
  </label>
  <div>
    {{#each jobKeywords}}
      <a class="filter-item button tiny round secondary removeFilter">
        {{this}}<span class="rm removeJobKeywordsFilter {{this}}">&times;</span>
      </a>
    {{/each}}
  </div>
  <button class="searchFilterButton expand">Search</button>
</form>