<a class="button tiny secondary useThisToSearch" href="javascript: void(0)" data-id="{{model.cid}}">
  {{#if data.jobTitle}}
    <span>{{data.jobTitle}}</span>
  {{/if}}
  {{#if data.company}}
    <span>{{data.company}}</span>
  {{/if}}
  {{#if data.jobKeywords}}
    <span>{{data.jobKeywords}}</span>
  {{/if}}
  {{#if data.distance}}
    <span>{{data.distance}} miles</span>
  {{/if}}
</a>

