<a class="button tiny secondary useThisToSearch column" href="javascript: void(0)" data-id="{{model.cid}}">
  {{#if data.jobTitle.length}}
    <span>Title: </span>
    {{#each data.jobTitle}}
      <span>{{this}}, </span>
    {{/each}}<br>
  {{/if}}
  {{#if data.company.length}}
    <span>Company: </span>
    {{#each data.company}}
      <span>{{this}}, </span>
    {{/each}}<br>
  {{/if}}
  {{#if data.jobLocation.length}}
    <span>Location: </span>
    <span>{{data.jobLocation}}</span><br>
  {{/if}}
  {{#if data.jobKeywords.length}}
    <span>Keywords: </span>
    {{#each data.jobKeywords}}
      <span>{{this}}, </span>
    {{/each}}<br>
  {{/if}}
  {{#if data.distance}}
    <span>Distance: </span>
    <span>{{data.distance}} miles</span><br>
  {{/if}}
  <span>Salary: {{data.minSalary}}-{{data.maxSalary}}</span>
</a>

