<div class="row collapse">
  <h2 class="title twelve columns">
    <a href="{{url}}" target="_blank">{{jobtitle}}</a>
  </h2>
</div>
<div class="row collapse">
  <div class="small-10 columns">
    <ul class="info">
      <li class="company">{{company}} {{toDoubleDigits pScore}}</li>
      <li class="location">
        {{#if city}}
          {{city}},
        {{/if}}
        {{state}}
      </li>
    </ul>
  </div>
  <div class="small-2 columns">
    <a class="right showConnectButton" href="javascript:;">
      {{#if pCount}}{{pCount}}{{else}}0{{/if}}
    </a>
  </div>
</div>

