<div class="job">
  <ul>
    <li>
      <a href="{{url}}" target="_blank">{{jobtitle}}</a>
    </li>
    <li>
      {{company}} - {{city}}, {{state}}
    </li>
    <!-- <li>
      jobkey: {{jobkey}}
    </li>
    <li>
      snippet: {{snippet}}
    </li>
    <li>
      formattedLocation: {{formattedLocation}}
    </li>
    <li>
      formattedLocationFull: {{formattedLocationFull}}
    </li>
    <li>
      formattedRelativeTime: {{formattedRelativeTime}}
    </li>

    <li>
      date: {{date}}
    </li>
    <li>
      expired: {{expired}}
    </li>
    <li>
      country: {{country}}
    </li>
    <li>
      latitude: {{latitude}}
    </li>
    <li>
      longitude: {{longitude}}
    </li>
    <li>
      source: {{source}}
    </li>
    <li>
      sponsored: {{sponsored}}
    </li>
    <li>
      url: {{url}}
    </li>
    <li>
      onmousedown: {{onmousedown}}
    </li> -->
  </ul>
</div>